*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(Imagenes/bealtles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color: rgb(17, 17, 7);
    -webkit-text-stroke: 1px white;
    font-family: 'Gochi Hand', cursive;
    padding: 10px;
    font-size: 4.4em;
}

form{
    margin: 1em;
}

label{
    color: rgb(17, 17, 7);
    -webkit-text-stroke: 1px white;
    font-family: 'Gochi Hand', cursive;
    padding: 10px;
    font-size: 2em;
}

input{
    font-family: 'Gochi Hand', cursive;
    color: black; 
    font-size: 1.5em;
}

legend {
    font-family: 'Gochi Hand', cursive;
    font-size: 2em;
    -webkit-text-stroke: 1px black;
    color:white;
}

.boton{
    font-size: 1.5em;
}

.boton:hover{
    background-color: black;
    color: white;
}
