$colores-titulos: rgb(245, 245, 210);
$colores-titulos-secundario: black;
$color-terceriario: rgb(17, 17, 7);
$color-white: white;
$color-alert: rgba(226, 222, 3, 0.575);
$color-quienesSomos: #f5f5f5;
$color-estrellas: #ffb944;